#Stuff from the C++ example on GitHub

#Prerequisites
*.d

#Compiled Object Files. Assuming this is what g++ -o outputs
*.slo
*.lo
*.o
*.obj

#Precompiled Headers
*.gch
*.pch

#Compiled Dynamic Libraries
*.so
*.dylib
*.dll

#Compiled Static Libraries
*.lai
*.la
*.a
*.lib

#Executables
*.exe
*.out
*.app

#Personal Add ons
*.csv #considering using csv as storage files
*.txt #maybe text instead
